<h1>Stupid Coaching </h1>
<div class="form1">
<p><%=@question %></p>

<p class="you"> - You </p>
</div>


<div class="form1">
<p><%=@answer%></p>
<p class = "you"> - Your coach </p>
</div>
<!-- <br>
<p><a href=""alt="Ask a new question"></a></p>
 -->
