// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form1 {
  border-left: solid 4px;
  border-left-color: rgb(222, 223, 224);
  padding-left: 10px;

}
